<div>
    <ul class="breadcrumb">
        <li class="li-breadcrumb">
            <a ui-sref="panel">{{ 'OBSERVACIONES_MENU' | translate }}</a>
        </li>
        <li class="li-breadcrumb">
            <a ui-sref="panel.recomendaciones">{{'OBSERVACIONES_MENU' | translate}}</a>
        </li>
        <li style="float: right;" class="refresh-breadcrumb">
            <a href="" ng-click="refresh()">
                <i class="glyphicon glyphicon-refresh"></i>
                {{ 'REFRESH' | translate }}</a>
        </li>
    </ul>
</div>


<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{'OBSERVACIONES_MENU' | translate}}</h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                
                <div class="col-sm-12">
                    
                    
                    <button  class="btn btn-primary" ng-click="ver_crear_recomendacion()">Crear recomendación</button>
                    <br>
                    
                    <crear-observacion-dir></crear-observacion-dir>

                    
                    <div style="text-align: center">
                        <div class="btn-group">
                            <!-- <label ng-if="hasDivisionRole(USER.tipo, true)" class="btn btn-success" ng-model="$parent.datos.radioPara" uib-btn-radio="'Unión'" >Unión</label> -->
                            <label ng-if="hasUnionRole(USER.tipo, true)" ng-click="seleccObservsPor()" class="btn btn-success" ng-model="datos.observs_por" uib-btn-radio="'Asociaciones'" >Por Asociaciones</label>
                            <label class="btn btn-success" ng-click="seleccObservsPor()" ng-model="datos.observs_por" uib-btn-radio="'Distritos'" >Distritos</label>
                            <label class="btn btn-success" ng-click="seleccObservsPor()" ng-model="datos.observs_por" uib-btn-radio="'Iglesias'" >Iglesias </label>
                        </div>
                    </div>
                    
    

                    <observaciones-por-todo-pastor-dir ng-if="USER.tipo=='Pastor' || USER.tipo=='Tesorero iglesia' "></observaciones-por-todo-pastor-dir>
                    
                    <observaciones-por-iglesias-dir ng-if="datos.observs_por=='Iglesias' "></observaciones-por-iglesias-dir>

                    <observaciones-por-distritos-dir ng-if="datos.observs_por=='Distritos' "></observaciones-por-distritos-dir>

                    <observaciones-por-asociaciones-dir ng-if="datos.observs_por=='Asociaciones' "></observaciones-por-asociaciones-dir>



                    <div ng-show="ver_editando_recom" id="editar-recomendacion" class="row" style="margin-bottom: 50px">
                        <div class="box col-md-12">
                            <div class="box-inner">
                                <div class="box-header well">
                                    <h2>
                                        <i class="glyphicon glyphicon-edit"></i> Editar Recomendación
                                    </h2>

                                    <div class="box-icon"></div>
                                </div>

                                <div class="box-content row">

                                    <div class="col-sm-12">

                                        <form ng-submit="actualizarRecomendacion(act_reco)">
                                            
                                            <div class="box-content">
                                                <label>Para: </label><br>
                                                <div class="btn-group">
                                                    <label ng-if="hasDivisionRole(USER.tipo, true)" class="btn btn-default" ng-model="$parent.datos.radioPara" uib-btn-radio="'Unión'" >Unión</label>
                                                    <label ng-if="hasUnionRole(USER.tipo, true)" class="btn btn-default" ng-model="$parent.datos.radioPara" uib-btn-radio="'Asociación'" >Asociación</label>
                                                    <label class="btn btn-default" ng-model="datos.radioPara" uib-btn-radio="'Distrito'" >Distrito</label>
                                                    <label class="btn btn-default" ng-model="datos.radioPara" uib-btn-radio="'Iglesia'" >Iglesia</label>
                                                </div>
                                            </div>
                                            
                                            
                                            <div ng-show="datos.radioPara">        
                                                <div class="box-content row">
                                                    <div ng-if="hasDivisionRole(USER.tipo, true)"  class="form-group col-sm-6">
                                                        <label>Unión</label>
                                            
                                                        <ui-select ng-model="datos.union" on-select="traerAsociaciones(datos.union.id)" style="width: 100%;" theme="bootstrap">
                                                            <ui-select-match placeholder="Unión">
                                                                <span ng-bind="$select.selected.nombre"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="item in (USER.uniones |  filter: $select.search) track by $index">
                                                                <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                            
                                                    </div>
                                            
                                                    
                                                    <div ng-if="(hasDivisionRole(USER.tipo, true) || hasUnionRole(USER.tipo))  && (datos.radioPara=='Asociación' || datos.radioPara=='Distrito' || datos.radioPara=='Iglesia')" class="form-group col-sm-6">
                                                        <label>Asociación</label>
                                            
                                                        <ui-select ng-model="datos.asociacion" on-select="traerIglesias(datos.asociacion.id)" style="width: 100%;" theme="bootstrap">
                                                            <ui-select-match placeholder="Asociación">
                                                                <span ng-bind="$select.selected.nombre"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="item in (datos.asociaciones |  filter: $select.search) track by $index">
                                                                <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                            
                                                    </div>
                                                    
                                                    
                                                    <div ng-if="(hasDivisionRole(USER.tipo, true) || hasUnionRole(USER.tipo))  && (datos.radioPara=='Distrito' || datos.radioPara=='Iglesia')" class="form-group col-sm-6">
                                                        <label>Distrito</label>
                                            
                                                        <ui-select ng-model="datos.distrito" style="width: 100%;" theme="bootstrap">
                                                            <ui-select-match placeholder="Distrito">
                                                                <span ng-bind="$select.selected.nombre"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="item in (datos.distritos |  filter: $select.search) track by $index">
                                                                <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                            
                                                    </div>
                                                    
                                                    <div ng-if="(hasDivisionRole(USER.tipo, true) || hasUnionRole(USER.tipo))  && (datos.radioPara=='Iglesia')" class="form-group col-sm-6">
                                                        <label>Iglesia</label>
                                            
                                                        <ui-select ng-model="datos.iglesia" style="width: 100%;" theme="bootstrap">
                                                            <ui-select-match placeholder="Iglesia">
                                                                <span ng-bind="$select.selected.nombre"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="item in (datos.distrito.iglesias |  filter: $select.search) track by $index">
                                                                <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                            
                                                    </div>
                                                </div>
                                            
                                                <hr>
                                                <br>
                                            
                                                <div class="box-content row">
                                                    <div class="form-group col-sm-6"> <label>Fecha</label>
                                                        <input  required="required" type="date" class="form-control"  placeholder="Fecha " ng-model="act_reco.fecha">
                                                    </div>
                                                    
                                                    <div class="form-group col-sm-6"> <label>Observación</label>
                                                        <textarea class="form-control" ng-model="act_reco.hallazgo"></textarea>
                                                    </div>
                                                    
                                                    <div class="form-group col-sm-6"> <label>Tipo</label>
                                                        
                                                        <ui-select ng-model="act_reco.tipo" style="width: 100%;" theme="bootstrap">
                                                            <ui-select-match placeholder="Tipo">
                                                                <span ng-bind="$select.selected.tipo"></span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="item in tipos_recomend | filter: $select.search track by $index">
                                                                <span ng-bind-html="item.tipo | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    
                                                    <div class="form-group col-sm-6"> <label>Recomendación</label>
                                                        <textarea class="form-control" ng-model="act_reco.recomendacion"></textarea>
                                                    </div>

                                                    <div class="form-group col-sm-6"> <label>Justificacion</label>
                                                        <textarea class="form-control" ng-model="act_reco.justificacion"></textarea>
                                                    </div>
                                                        
                                                    <div class="form-group col-sm-6"> <label>Superada</label>
                                                        
                                                        <div class="btn-group ">
                                                            <label class="btn btn-success" ng-model="act_reco.superada" uib-btn-radio="'si'">
                                                                <i class="glyphicon glyphicon-ok "></i> Si</label>
                                                            <label class="btn btn-success" ng-model="act_reco.superada" uib-btn-radio="'no'">
                                                                <i class="glyphicon glyphicon-remove"></i> No</label>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            <div class="center">
                                                <input class="btn btn-warning " type="button" ng-click="cerrarActualizarReco()" value="Cancelar">
                                                <input class="btn btn-primary " type="submit" value="Actualizar">
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                </div>

            </div>
        </div>
    </div>
</div>