.center{
    text-align: center;
}
.valor-sm{
	width: 70px; 
	font-size: 9pt;
}
.no-padding{
	padding: 0px !important;
}
.no-padding-bottom{
	padding-bottom: 0px !important;
}

.padding4{
	padding: 4px !important;
}

.bold{
	font-weight: bold;
}
.fondo-sum-sem{
	background-color: #dedaff; 
	border: 1px #ccc solid;
	text-align: right;
}
.align-right{
	text-align: right;
}
.tabla-mes .no-padding{
	padding-top: 4px !important;
	/*border: 0px;*/
}
.panel-auditoria-meses .table-condensed td{
	padding-bottom: 1px!important;
	padding-top: 1px!important; 
	vertical-align: middle;
}
.panel-auditoria-meses .table-condensed label{
	margin-bottom: 0px!important;
}
@media only screen and (max-width: 979px) and (min-width: 768px) {
	.box-icon.maximizar {
		display: inherit;
	}
}
.widget-maximized {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    margin: 0;
	overflow: auto;
	background-color: white;
	padding-left: 0;
    padding-right: 0;
}
.popover {
    z-index: 1030;
}
.accordion-distrito-seleccionado{
	font-weight: 900;
	color: black;
	font-style: italic;
}
.img-gender{
	width: 50px
}

.informes-pages .table-condensed td{
	padding-bottom: 0px;
	padding-top: 0px;
}
@media only screen and (max-width: 600px) {
	.navbar-collapse.nav{
		width: 300px!important;
	}
}

@media only screen and (max-width: 770px) {
	.navbar-collapse.nav{
		margin-left: 60px;
	}
}
.input-totales{
	height: 30px;
}
.btn .badge{
	position: absolute;
    top: -4px;
	z-index: 9;
}
th .badge{
	position: absolute;
    top: -4px;
	z-index: 9;
	right: -4px;
}
.table.ocultando-primeras .td-primeras{
	display: none;
}
.border-der{
	border-right: 1px solid #ccc;
}
.mano{
	cursor: pointer;
}
.table .mano:hover{
	background-color: #d1e6f9;
}

.show-on-print{
	display: none;
}

@media only print{
	.show-on-print{
		display: block;
	}
	.table-bordered {
		border: 1px solid #000!important;
	}
	.table-bordered>thead>tr>th, 
	.table-bordered>tbody>tr>th, 
	.table-bordered>tfoot>tr>th, 
	.table-bordered>thead>tr>td, 
	.table-bordered>tbody>tr>td, 
	.table-bordered>tfoot>tr>td{
		border: 1px solid #000!important;
	}
	.informes-pages{
		color: #000;
	}
}

.page-vertical, .page-carta-horizontal, .page-oficio-horizontal{
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.salto-pagina{
	page-break-after: always;
}
.page-vertical{
	background-color: white;
	width: 22cm;
	margin-bottom: 10px;
}
.page-carta-horizontal{
	background-color: white;
	width: 31cm;
}
.page-oficio-horizontal{
	background-color: white;
	width: 36cm;
}


.tabla-mes thead tr th{
	border: 1px #ccc solid!important;
	position: relative;
}
.owen-select{
	width: 100%; 
	border: 1px solid #aaa; 
	padding: 4px; 
	height: 100px; 
	overflow: auto;
}
.owen-select .opt-seleccionada{
	background-color: #45afed;
	color: white;
	font-weight: bold;
}
.owen-select>div{
	padding-left: 4px;
}
.owen-select>div:hover{
	background-color: aqua;
	cursor: pointer;
}