
<div style="text-align:right; padding-top: 2px; position: relative;">
    <span style="margin-right: 28px; padding-top: 4px; display: inline-block; font-size: 7pt">
        {{row.entity.username }}
    </span>
    <a uib-tooltip="Resetear contraseña" tooltip-placement="right" tooltip-append-to-body="true" 
        ng-click="grid.appScope.resetPass(row.entity)" style="position: absolute; right: 0px" 
        class="btn btn-default btn-xs icon-only shiny">
        
        <i class="glyphicon glyphicon-asterisk"></i>
    </a>
</a>
</div>