
<div class="modal-header">
    <h3 class="modal-title">Cambiar contraseña</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h5>Id: {{usuario.user_id}}</h5>
            <div>Nombres: </div>
            <h4 style="text-overflow: ellipsis">{{usuario.nombres}} {{usuario.apellidos}}</h4>
            <div>Nombre de usuario: </div>
            <h4 style="text-overflow: ellipsis">{{usuario.username}}</h4>
            <form role="form" class="form form-inline">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input ng-attr-type="{{ showPassword ? 'text' : 'password' }}" 
                        ng-model="newpassword" placeholder="Puede dejar vacío" 
                        ng-dblclick="showPassword=!showPassword" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-labeled btn-primary">Cambiar contraseña<i class="btn-label fa fa-save"></i></button>
    <button ng-click="cancel()" class="btn btn-yellow">Cancelar</button>
</div>