<div id="nueva_new_new_iglesia" ng-show="ver_creando_iglesia" class="row" style="margin-bottom: 50px">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2>
                    <i class="glyphicon glyphicon-plus"></i> Nueva iglesia
                </h2>
                <div class="box-icon"></div>
            </div>


            <div class="box-content row">

                <div class="col-sm-12">
                    <form ng-submit="CrearIglesia_insertar(iglesia_new)">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="nombre_iglesia_new">Nombre</label>
                                <input required="required" class="form-control" id="nombre_iglesia_new" type="text" placeholder="Nombre" ng-model="iglesia_new.nombre">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="alias_iglesia_new">Alias</label>
                                <input class="form-control" id="alias_iglesia_new" type="text" placeholder="Alias" ng-model="iglesia_new.alias">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="codigo_iglesia_new">Código</label>
                                <input class="form-control" id="codigo_iglesia_new" type="text" placeholder="Código" ng-model="iglesia_new.codigo">
                            </div>
                        </div>


                        <div class="row">
                            
                            <div class="form-group col-sm-6">
                                <label>Distrito</label>

                                <ui-select ng-model="iglesia_new.distrito" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Distrito">
                                        <span ng-bind="$select.selected.			nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (distritos |  filter: $select.search) track by $index">
                                        <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            <div class="form-group col-sm-6">
                                <label>Tesorero</label>

                                <ui-select ng-model="iglesia_new.tesorero" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Tesorero">
                                        <span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (usuarios | filter:{tipo:'Tesorero'}  |  filter: $select.search) track by $index">
                                        <span ng-bind-html="item.nombres + ' ' + item.apellidos | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                        </div>


                        <div class="row">
                        
                            <div class="col-sm-6">
                                <label for="zona_distrito_new">Zona</label>
                                <input class="form-control" id="zona_distrito_new" type="text" placeholder="Zona" ng-model="iglesia_new.zona">
                            </div>
                            
                            <div class="col-sm-6">
                                <label style="display: block;" for="tipo_distrito_new">Tipo</label>
                                <div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-xs-12">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="tipo" value="IGLESIA" ng-model="iglesia_new.tipo"><span class="text">Iglesia</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="tipo" value="GRUPO" ng-model="iglesia_new.tipo"><span class="text">Grupo</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                            
                        <hr>
                        
                        <div class="row">
                            <div class="col-sm-3 form-group" style="padding-right: 0px">
                                <label>Estado propiedad</label>

                                <ui-select ng-model="iglesia_new.estado_propiedad" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Estado propiedad">
                                        <span ng-bind="$select.selected.estado + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in estados_propiedad | filter: $select.search track by $index">
                                        <span ng-bind-html="item.estado | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            <div class="col-sm-3 form-group" style="padding-right: 0px">
                                <label uib-tooltip="Estado según el pastor">Estado propiedad (pastor)</label>

                                <ui-select ng-model="iglesia_new.estado_propiedad_pastor" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Estado propiedad">
                                        <span ng-bind="$select.selected.estado + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in estados_propiedad | filter: $select.search track by $index">
                                        <span ng-bind-html="item.estado | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            <div class="col-sm-3 form-group" style="padding-right: 0px">
                                <label>Tipo documento</label>

                                <ui-select ng-model="iglesia_new.tipo_doc_propiedad" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Tipo documento">
                                        <span ng-bind="$select.selected.tipo + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in tipos_documentos_prop | filter: $select.search track by $index">
                                        <span ng-bind-html="item.tipo | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            
                            <div class="col-sm-3 form-group">
                                <label uib-tooltip="Tipo documento según el pastor">Tipo documento (pastor)</label>

                                <ui-select ng-model="iglesia_new.tipo_doc_propiedad_pastor" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Tipo documento">
                                        <span ng-bind="$select.selected.tipo + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in tipos_documentos_prop | filter: $select.search track by $index">
                                        <span ng-bind-html="item.tipo | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                            <div class="col-sm-6" style="padding-right: 0px;">
                                <label for="a_nombre_new1">A nombre de</label>
                                <input class="form-control" style="padding: 4px 6px;" id="a_nombre_new1" type="text" placeholder="A nombre de" ng-model="iglesia_new.anombre_propiedad">
                            </div>
                            

                            <div class="col-sm-6" style="padding-right: 0px;">
                                <label uib-tooltip="A nombre de quién según el pastor" for="a_nombre_new_pastor">A nombre de (pastor)</label>
                                <input class="form-control" style="padding: 4px 6px;" id="a_nombre_new_pastor" type="text" placeholder="A nombre de" ng-model="iglesia_new.anombre_propiedad_pastor">
                            </div>
                            
                        </div>


                        <hr>
                        



                        <div class="center">
                            <input class="btn btn-warning " type="button" ng-click="cancelar_crear_iglesia()" value="Cancelar">
                            <input class="btn btn-primary " type="submit" value="Guardar Iglesia" ng-disabled="guardando_iglesia">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div ng-show="ver_Actualizando_iglesia" id="editar-iglesia" class="row" style="margin-bottom: 50px">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2>
                    <i class="glyphicon glyphicon-plus"></i> Editar Iglesia
                </h2>
                <div class="box-icon"></div>
            </div>

            <div class="box-content row">

                <div class="col-sm-12">
                    <form ng-submit="ActualizarIglesia(iglesia_edit)">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="nombre_iglesia_edit">Nombre</label>
                                <input required="required" class="form-control" id="nombre_iglesia_edit" type="text" placeholder="Nombre" 
                                    ng-model="iglesia_edit.nombre" ng-change="guardarValor(iglesia_edit.nombre, iglesia_edit, 'nombre')"
                                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="alias_iglesia_edit">Alias</label>
                                <input required="required" class="form-control" id="alias_iglesia_edit" type="text" placeholder="Alias" ng-model="iglesia_edit.alias">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="codigo_iglesia_edit">Código</label>
                                <input class="form-control" id="codigo_iglesia_edit" type="text" placeholder="Código" ng-model="iglesia_edit.codigo" ng-change="guardarValor(iglesia_edit.codigo, iglesia_edit, 'codigo')"
                                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="form-group col-sm-6">
                                <label>Distrito</label>

                                <ui-select ng-model="iglesia_edit.distrito" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Distrito">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (distritos |  filter: $select.search) track by $index">
                                        <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            <div class="form-group col-sm-6">
                                <label>Tesorero</label>

                                <ui-select ng-model="iglesia_edit.tesorero" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Tesorero">
                                        <span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (usuarios | filter:{tipo:'Tesorero'}  |  filter: $select.search) track by $index">
                                        <span ng-bind-html="item.nombres + ' ' + item.apellidos | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                        </div>


                        

                        <div class="row">
                                                
                                <div class="col-sm-6">
                                    <label for="zona_iglesia_edit">Zona</label>
                                    <input class="form-control" id="zona_iglesia_edit" type="text" placeholder="Zona" ng-model="iglesia_edit.zona">
                                </div>
                                
                                <div class="col-sm-6">
                                    <label style="display: block;" for="tipo_iglesia_edit">Tipo</label>
                                    <div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="tipo" value="IGLESIA" ng-model="iglesia_edit.tipo"><span class="text">Iglesia</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="tipo" value="GRUPO" ng-model="iglesia_edit.tipo"><span class="text">Grupo</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>

                            
                        <hr>
                        
                        
                        <div class="row">
                            <div class="col-sm-3 form-group" style="padding-right: 0px">
                                <label>Estado propiedad</label>

                                <ui-select ng-model="iglesia_edit.estado_propiedad" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Estado propiedad">
                                        <span ng-bind="$select.selected.estado + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in estados_propiedad | filter: $select.search track by $index">
                                        <span ng-bind-html="item.estado | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            <div class="col-sm-3 form-group" style="padding-right: 0px">
                                <label uib-tooltip="Estado según el pastor">Estado propiedad (pastor)</label>

                                <ui-select ng-model="iglesia_edit.estado_propiedad_pastor" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Estado propiedad">
                                        <span ng-bind="$select.selected.estado + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in estados_propiedad | filter: $select.search track by $index">
                                        <span ng-bind-html="item.estado | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            <div class="col-sm-3 form-group" style="padding-right: 0px">
                                <label>Tipo documento</label>

                                <ui-select ng-model="iglesia_edit.tipo_doc_propiedad" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Tipo documento">
                                        <span ng-bind="$select.selected.tipo + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in tipos_documentos_prop | filter: $select.search track by $index">
                                        <span ng-bind-html="item.tipo | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            
                            
                            <div class="col-sm-3 form-group">
                                <label uib-tooltip="Tipo documento según el pastor">Tipo documento (pastor)</label>

                                <ui-select ng-model="iglesia_edit.tipo_doc_propiedad_pastor" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Tipo documento">
                                        <span ng-bind="$select.selected.tipo + ' ' + $select.selected.apellidos"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in tipos_documentos_prop | filter: $select.search track by $index">
                                        <span ng-bind-html="item.tipo | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                            <div class="col-sm-6" style="padding-right: 0px;">
                                <label for="a_nombre_new1">A nombre de</label>
                                <input class="form-control" style="padding: 4px 6px;" id="a_nombre_new1" type="text" placeholder="A nombre de" ng-model="iglesia_edit.anombre_propiedad">
                            </div>
                            

                            <div class="col-sm-6" style="padding-right: 0px;">
                                <label uib-tooltip="A nombre de quién según el pastor" for="a_nombre_new_pastor">A nombre de (pastor)</label>
                                <input class="form-control" style="padding: 4px 6px;" id="a_nombre_new_pastor" type="text" placeholder="A nombre de" ng-model="iglesia_edit.anombre_propiedad_pastor" ng-change="guardarValor(iglesia_edit.anombre_propiedad_pastor, iglesia_edit, 'anombre_propiedad_pastor')"
                                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
                            </div>
                            
                        </div>

                        
                        <div class="row">
                            
                            <div class="col-sm-12">
                                
                                <h3>Imágenes de los documentos</h3>
                                <table class="table">
                                    <thead>
                                
                                        <tr>
                                            <th scope="col">ID </th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Creada</th>
                                            <th scope="col"></th>
                                        </tr>
                                
                                    </thead>
                                    
                                    <tbody>
                                        
                                        <tr ng-repeat="imagen in imagenes | filter:{'iglesia_id': iglesia_edit.rowid} "  >
                                            
                                            <td>{{imagen.id}}</td>
                                            <td style="padding-left: 0;" ng-click="openModalImage(imagen)">
                                                <img ng-src="{{perfil + imagen.nombre}}" style="width: 50px">
                                                <span style="font-size: 9pt;">
                                                    {{imagen.nombre }}
                                                </span>
                                            </td>
                                            <td>
                                                <textarea ng-model="imagen.descripcion" placeholder="Descripción" 
                                                    style="height: 50px; width: 100%;" class="form-control"
                                                    ng-change="cambiaDescripcion(imagen)"
                                                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
                                                </textarea>
                                            </td>
                                            <td>
                                                <span style="font-size: 9pt;">{{imagen.created_at}}</span>
                                            </td>
                                            
                                            <td>
                                                <button uib-tooltip="Eliminar imagen" class="glyphicon glyphicon-remove btn btn-danger btn-sm" href="" 
                                                    ng-click="elimninarImagen(imagen)" type="button"></button>
                                                <button uib-tooltip="Quitar documento" class="glyphicon glyphicon-floppy-remove btn btn-warning btn-sm" href="" 
                                                    ng-click="quitarImagen(imagen)" type="button">
                                                    Quitar
                                                </button>
                                            </td>
                                            
                                        </tr>
                                    
                                    </tbody>
                                    
                                </table>
                                
                            </div>
                            
                            
                            <div class="form-group col-sm-6">
                                <label>Imágenes</label>

                                <ui-select ng-model="datos.imagen_seleccionada" style="width: 100%;" theme="bootstrap">
                                    <ui-select-match placeholder="Imagen">
                                        <img ng-src="{{perfil + $select.selected.nombre}}" style="width: 40px; margin-top: -10px;">
                                        <span ng-bind="$select.selected.nombre + ' - ' + $select.selected.descripcion"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in imagenes">
                                        <img ng-src="{{perfil + item.nombre}}" style="width: 40px; margin-top: -10px;">
                                        <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            <div class="col-sm-6">
                                <a style="margin-top: 25px;" class="btn btn-primary" type="button" ng-click="addImagen(datos.imagen_seleccionada)">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                            </div>
                            
                        </div>
                        
                        <hr>
                        
                        <div class="row" style="margin-top: 20px">

                            <div class="center">
                                <input class="btn btn-default " type="button" ng-click="Cancelar_Actualizar_Iglesia()" value="Cerrar edición">
                                <input class="btn btn-primary " ng-show="modo_offline" type="submit" value="Guardar Iglesia" ng-disabled="guardando_iglesia">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<button class="btn btn-primary" ng-show="!Vercreando_iglesia" ng-click="VerCreandoIglesia()">Crear iglesia</button>


					
					
<div class="form-group">
    <label>Filtrar por asociación</label>

    <ui-select ng-model="datos.asociacion_filtro_iglesia" on-select="filtrarIglesiasPorAsociacion($item, $model)" style="width: 100%;" theme="bootstrap">
        <ui-select-match placeholder="Asociación">
            <span ng-bind="$select.selected.nombre"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (asociaciones |  filter: $select.search) track by $index">
            <span ng-bind-html="item.nombre | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>

</div>

<div ui-grid="gridOptions" style="height: 500px" ui-grid-exporter ui-grid-edit ui-grid-cellnav ui-grid-move-columns ui-grid-resize-columns
    ui-grid-auto-resize ui-grid-pinning></div>
