<div>
    <ul class="breadcrumb">
        <li class="li-breadcrumb">
            <a ui-sref="panel">Inicio</a>
        </li>
        <li class="li-breadcrumb">
            <a ui-sref="panel.auditorias" >Auditorías</a>
        </li>
        <li style="float: right;" class="refresh-breadcrumb">
          <a href="" ng-click="refresh()">
            <i class="glyphicon glyphicon-refresh"></i>
            {{ 'REFRESH' | translate }}</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Auditorías de 
                  <span style="font-style: italic; text-decoration: underline;">{{ USER.iglesia_nombre }}</span>
                </h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                
              <div class="col-sm-12">

                <button  class="btn btn-primary" ng-show="!vermostrandocrarauditorias" ng-click="vercrearauditorias()">Crear auditoría</button>
                    
                <div ng-show="vermostrandocrarauditorias" class="panel panel-warning" style="margin-bottom: 50px">

                  <div class="box-header well">
                    <h2>
                      <i class="glyphicon glyphicon-plus"></i> Nueva auditoría
                    </h2>
                    <div class="box-icon"></div>
                  </div>
                  
                  <div class="box-content row">
                    <form ng-submit="InsertEntidadAuditoria(auditoria_crear)">
                      <div class="">
                        
                        <div class="form-group col-sm-6"> <label>Fecha</label>
                          <input type="date" class="form-control"  placeholder="Fecha " ng-model="auditoria_crear.fecha">
                        </div>
                        
                          
                        <div class="form-group col-sm-6"> 
                          <label>Saldo anterior</label>
                          <input type="text" ng-model="auditoria_crear.saldo_ant" class="form-control" enter-as-tab ui-number-mask="0">
                        </div>
                          
                      </div>

                        
                      <div class="col-sm-6">  
                        <label>Iglesia</label>
                        
                        <ui-select ng-model="auditoria_crear.iglesia" style="width: 100%;" theme="bootstrap">
                          <ui-select-match placeholder="Iglesia">
                            <span ng-bind="$select.selected.nombres + ' ' + $select.selected.alias"></span>
                          </ui-select-match>
                          <ui-select-choices group-by="'nombre_distrito'" repeat="item in iglesias | filter: $select.search track by $index">
                            <span ng-bind-html="($index+1) + '. ' + item.alias + ' - ' + item.nombre | highlight: $select.search"></span>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                      
                      <div class="col-sm-6" style="margin-top: 18px; margin-bottom: 18px">  
                        <label>Mes inicial: </label>
                        <span>
                          {{ auditoria_crear.periodo_mes }} ({{ auditoria_crear.mes }})
                        </span>
                        
                      </div>


                      <div class="center">
                        <input class="btn btn-warning " type="button" ng-click="cancelar_crear_distrito()" value="Cancelar">
                        <input class="btn btn-primary " type="submit" name="" value="Crear Auditoría">
                      </div>
                    </form>
                  </div>
                </div>



                   


                <table class="table table-striped table-hovered">
                  <thead>


                    <tr>
                      <th scope="col">ID </th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Iglesia</th>
                      <th scope="col">Saldo anterior</th>
                      <th scope="col">Saldo final</th>
                      <th scope="col">Actual</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Fecha cierre</th>
                      <th scope="col"></th>

                    </tr>


                    <tr ng-repeat="auditoria in auditorias"  ng-class="{'tr-audit-seleccionada': USER.auditoria_id==auditoria.rowid}">
                      
                      <td >{{ $index + 1 }}</td>
                      <td style="font-size: 9pt">{{auditoria.fecha }}</td>
                      <td >{{auditoria.nombre + ' (' + auditoria.alias + ')' }}</td>
                     
                      <td>{{auditoria.saldo_ant | currency:'$':0}}</td>
                      <td>{{auditoria.saldo_final | currency:'$':0}}</td>
                      <td style="min-width: 80px;">
                        <div class="btn-group">
                          
                          <button ng-show="USER.auditoria_id!=auditoria.rowid" class="btn btn-default btn-sm" ng-click="seleccionarAuditoria(auditoria)">
                            <i class="glyphicon glyphicon-check "></i>
                            Seleccionar
                          </button>

                          <span ng-show="USER.auditoria_id==auditoria.rowid" style="padding-top: 5px; display: inline-block; color: #27a0e6; font-weight: bold;">
                            <i class="glyphicon glyphicon-ok"></i>
                            <span> Actual</span>
                          </span>

                        </div>

                      </td>
                      
                      <td>
                        <button ng-show="auditoria.cerrada==0" class="btn btn-info btn-sm" ng-click="abrirAuditoria(auditoria)" uib-tooltip="Cerrar">
                          Abierta
                        </button>
                        <button ng-show="auditoria.cerrada" class="btn btn-default btn-sm" ng-click="abrirAuditoria(auditoria)" uib-tooltip="Abrir">
                          Cerrada
                        </button>
                      </td>
                      <td>
                        <span style="font-size: 9pt">
                          {{ auditoria.cerrada_fecha }}
                        </span>
                      </td>
                      <td>
                        <div class="btn-group">                        
                          <button class="btn btn-primary btn-sm" ng-click="verActuAuditoria(auditoria)" uib-tooltip="Editar">
                            <i class="glyphicon glyphicon-pencil "></i>
                          </button>

                          <button class="btn btn-danger btn-sm" ng-click="elimninaradutiroiar(auditoria)">
                            <i class="glyphicon glyphicon-remove "></i>
                          </button>

                        </div>

                      </td>
                      
                      
                    </tr>

                  </thead>
                  <tbody>
                    
                    
                  
                   
                  </tbody>
                </table>


                <div ng-show="modusers">
                    <h3>Modificar auditoría</h3>
                    <form ng-submit="actusersauditoria(auditoria_editars)">

                      <table style="width: 100%;">
                        
                        <tr> 
                          <td >Fecha</td>
                          <td><input class="form-control" type="date" placeholder="Nombre" ng-model="auditoria_editars.fecha_new"></td>
                        </tr>

                        <tr>
                          <td >Iglesia</td>
                          <td> 
                            
                            <ui-select ng-model="auditoria_editars.iglesia" style="width: 100%;" theme="bootstrap">
                                <ui-select-match placeholder="Iglesia">
                                  <span ng-bind="$select.selected.nombres + ' ' + $select.selected.alias"></span>
                                </ui-select-match>
                                <ui-select-choices group-by="agruparPorDistrito" repeat="item in iglesias | filter: $select.search track by $index">
                                  <span ng-bind-html="item.alias + ' - ' + item.nombre | highlight: $select.search"></span>
                                </ui-select-choices>
                              </ui-select>
                          </td>
                        </tr>
                        
                        <tr>
                          <td >Saldo anterior</td>
                          <td>  
                            <input type="text" ng-model="auditoria_editars.saldo_ant" class="form-control" enter-as-tab ui-number-mask="0">
                          </td>
                        </tr>
                      
                     </table>
                     <br>
                      <div class="center">
                        <input class="btn btn-warning " type="button" ng-click="cancelar_crear_distrito()" value="Cancelar">
                        <input class="btn btn-primary " type="submit" name="" value="Actualizar auditoría">
                      </div>
                      
                    </form>
                  </div>
                            
                        
                </div>

            </div>
        </div>
    </div>
</div>

