
<!-- topbar starts -->


   <div class="navbar navbar-default hidden-print" role="navigation">

        <div class="navbar-inner">
            <button type="button" ng-click="sidebar_activar()" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""> <img alt="Charisma Logo" src="img/audit fast 2.0.png" class="hidden-xs"/>
                <span>Auditoría</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right" uib-dropdown>
                <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{ USER.nombres }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu >
                    <li><a href="#">{{ 'PERFIL' | translate }}</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="cerrar_sesion()">{{ 'SALIR' | translate }}</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->
            
            <!-- Botón Offline -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn" ng-class="{'btn-danger': modo_offline, 'btn-default': !modo_offline}"
                    ng-click="cambiarOffline()">
                    
                    <span ng-show="modo_offline">
                        <i class="glyphicon glyphicon-warning-sign"></i>
                        <span class="hidden-xs">Offline</span>
                    </span>
                    <span ng-show="!modo_offline">
                        <i class="glyphicon glyphicon-signal"></i>
                        <span class="hidden-xs">Online</span>
                    </span>
                </button>
            </div>

            <!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i>
                    <span class="hidden-sm hidden-xs"> {{ 'IDIOMA_MENU' | translate }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li class="dropdown-header"><i class="whitespace"></i>Idioma</li>
                    <li><a href="" ng-click="cambiarIdioma('Español')"><i ng-class="{'glyphicon glyphicon-ok': 'Español' == idioma, 'whitespace': 'Español' != idioma}"></i> Español</a></li>
                    <li><a href="" ng-click="cambiarIdioma('English')"><i ng-class="{'glyphicon glyphicon-ok': 'English' == idioma, 'whitespace': 'English' != idioma}"></i> English</a></li>
                    <li><a href="" ng-click="cambiarIdioma('Francais')"><i ng-class="{'glyphicon glyphicon-ok': 'Francais' == idioma, 'whitespace': 'Francais' != idioma}"></i> Francais</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><i class="whitespace"></i>Tema</li>
                    <li><a href="" ng-click="cambiarTema('classic')"><i ng-class="{'glyphicon glyphicon-ok': 'classic' == tema, 'whitespace': 'classic' != tema}"></i> Classic</a></li>
                    <li><a href="" ng-click="cambiarTema('cerulean')"><i ng-class="{'glyphicon glyphicon-ok': 'cerulean' == tema, 'whitespace': 'cerulean' != tema}"></i> Cerulean</a></li>
                    <li><a href="" ng-click="cambiarTema('cyborg')"><i ng-class="{'glyphicon glyphicon-ok': 'cyborg' == tema, 'whitespace': 'cyborg' != tema}"></i> Cyborg</a></li>
                    <li><a href="" ng-click="cambiarTema('simplex')"><i ng-class="{'glyphicon glyphicon-ok': 'simplex' == tema, 'whitespace': 'simplex' != tema}"></i> Simplex</a></li>
                    <li><a href="" ng-click="cambiarTema('darkly')"><i ng-class="{'glyphicon glyphicon-ok': 'darkly' == tema, 'whitespace': 'darkly' != tema}"></i> Darkly</a></li>
                    <li><a href="" ng-click="cambiarTema('lumen')"><i ng-class="{'glyphicon glyphicon-ok': 'lumen' == tema, 'whitespace': 'lumen' != tema}"></i> Lumen</a></li>
                    <li><a href="" ng-click="cambiarTema('slate')"><i ng-class="{'glyphicon glyphicon-ok': 'slate' == tema, 'whitespace': 'slate' != tema}"></i> Slate</a></li>
                    <li><a href="" ng-click="cambiarTema('spacelab')"><i ng-class="{'glyphicon glyphicon-ok': 'spacelab' == tema, 'whitespace': 'spacelab' != tema}"></i> Spacelab</a></li>
                    <li><a href="" ng-click="cambiarTema('united')"><i ng-class="{'glyphicon glyphicon-ok': 'united' == tema, 'whitespace': 'united' != tema}"></i> United</a></li>
                </ul>
            </div>
            
            <!-- theme selector ends -->

            <ul class="navbar-collapse nav navbar-nav" style="width: 380px; padding-right: 0;">
                
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" ng-click="seleccionarDistrito()"><i class="glyphicon glyphicon-star"></i> 
                        <span ng-show="!USER.iglesia_id">{{ 'IGLESIA' | translate }}</span>
                        {{USER.iglesia_alias}} 
                    </a>
                </li>
                
                
                <li class="hidden-xs">
                    <form class="navbar-search pull-left">
                        <input placeholder="Buscar" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
                
            </ul>

        </div>
    </div>
    <!-- topbar ends -->

<style>
    .main-menu .panel-default>.panel-heading {
        background-color: #ffffff;
    }
    .main-menu .panel-default {
        border-color: #fff;
    }
    .main-menu .panel-body {
        padding: 0px;
    }
    .main-menu span[uib-accordion-header]{
        color: #2fa4e7;
        font-size: 14px;
    }
    .main-menu .panel-heading a{
        text-decoration: none;
    }
    .main-menu .panel-heading a:hover{
        text-decoration: none;
    }
    
</style>

<div class="ch-container">
    <div class="row">
        
        <!-- MENU IZQUIERDO starts -->
        <div class="col-sm-2 col-lg-2 hidden-print">
            <div class="sidebar-nav" ng-class="{'active': sidebar_active}">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Menú</li>
                        <li>
                            <a class="ajax-link" ui-sref="panel">
                                <i class="glyphicon glyphicon-home"></i><span> {{ 'INICIO_MENU' | translate }}</span>
                            </a>
                        </li>
                          
                        <li ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.usuarios">
                                <i class="glyphicon glyphicon-user"></i><span> {{ 'USERS_MENU' | translate }}</span>
                            </a>
                        </li>

                        <li ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            <a class="ajax-link" ui-sref="panel.entidades">
                                <i class="glyphicon glyphicon-align-justify"></i><span> {{ 'ENTIDADES_MENU' | translate }}</span>
                            </a>
                        </li>
                        
                              
                         <li ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.auditorias">
                                <i class="glyphicon glyphicon-folder-open"></i><span> {{ 'AUDITORIAS_MENU' | translate }}</span>
                            </a>
                        </li>

                        <li ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.libromes">
                                <i class="glyphicon glyphicon-book"></i><span> {{ 'CAPTURA_DATOS_MENU' | translate }}</span>
                            </a>
                        </li>

                        
                        <li ng-if="::USER.tipo=='Pastor' || USER.tipo=='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.observaciones">
                                <i class="glyphicon glyphicon-list-alt"></i><span> {{ 'OBSERVACIONES_MENU' | translate }}</span>
                            </a>
                        </li>
                        

                        <li ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.sincronizacion">
                                <i class="glyphicon glyphicon-retweet"></i><span> {{ 'SINCRONIZACION_MENU' | translate }}</span>
                            </a>
                        </li>





                         
                        <li uib-accordion close-others="true" class="accordion " ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>
                                    {{ 'DATOS_MENU' | translate }} 
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
                                <ul class="nav nav-pills nav-stacked" style="display: block;">
                                    
                                    <li>
                                        <a class="ajax-link" href="" ui-sref="panel.imagenes" style="color: #2fa4e7;">
                                            <i class="glyphicon glyphicon-picture"></i><span> Imágenes</span>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a class="ajax-link" href="" ui-sref="panel.preguntas" style="color: #2fa4e7;">
                                            <i class="glyphicon glyphicon-tags"></i><span> {{ 'PREGUNTAS_MENU' | translate }}</span>
                                        </a>
                                    </li>
                                    
            
                                    <li>
                                        <a class="ajax-link" href="" ui-sref="panel.respuestas" style="color: #2fa4e7;">
                                            <i class="glyphicon glyphicon-file"></i><span> {{ 'RESPUESTAS_MENU' | translate }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.informe">
                                <i class="glyphicon glyphicon-list-alt"></i><span> {{ 'INFORMES_MENU' | translate }}</span>
                            </a>
                        </li>
                        
                        <li ng-if="::USER.tipo=='Pastor' || USER.tipo=='Tesorero'">
                            <a class="ajax-link" href="" ui-sref="panel.informe_pastor">
                                <i class="glyphicon glyphicon-list-alt"></i><span> {{ 'INFORMES_MENU' | translate }}</span>
                            </a>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">¡Atención!</h4>

                <p>Necesitas tener <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    habilitado para usar este sitio.</p>
            </div>
        </noscript>






        <div id="content" class="col-lg-10 col-sm-10">
            
            <ui-view>

                <div>
                    <ul class="breadcrumb">
                        <li class="li-breadcrumb">
                            <a ui-sref="panel"></a>{{ 'INICIO_MENU' | translate }}</a>

                        </li>
                        <li style="float: right;" class="refresh-breadcrumb">
                            <a href="" ng-click="refresh()">
                                <i class="glyphicon glyphicon-refresh"></i>
                                {{ 'REFRESH' | translate }}</a>
                        </li>
                    </ul>
                </div>
                
                
                
                <div ngf-drop="uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*'" class="drop-box drop-box"
                    ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero'">
                    
                    <div class="row">
                        <div style="text-align: center">
                            <h2>{{ asociacion.nombre }}</h2>
                        </div>
                        
                        <div class="col-lg-2 col-xs-12">
                            <div ngf-select="uploadFiles($files, $invalidFiles)" ngf-multiple="true" 
                                ngf-pattern="'.xlsx,.xls'" 
                                ngf-accept="'.xlsx,.xls'" class="btn btn-success">
                                
                                <i class="fa fa-upload"></i>
                                Subir remesas
                                <!--  ngf-max-size="7MB"-->
                            </div>
                            <br>
                        </div>     
                        <div class="col-lg-2 col-xs-12">
                            {{ log }}
                            <div ng-show="estado_descarga=='insertando'">{{ porc }}/{{ total }}</div>
                        </div>      
                        <div class="col-lg-2 col-xs-12">
                            <div class="progress" ng-show="total">
                                <div class="progress-bar progress-bar-striped " ng-class="{active: estado_descarga=='insertando'}" role="progressbar" aria-valuenow="{{ porc }}" aria-valuemin="0" aria-valuemax="{{ total }}" style="width: {{ porcentajeInsertado() }}%">
                                    <span class="sr-only">{{ porc }}% Completado</span>
                                </div>
                            </div>
                        </div>     
                    </div>     
                </div>
                

            </ui-view>

          

        </div><!--/#content.col-md-0-->







    </div><!--/fluid-row-->


    <hr class="hidden-print">


    <footer class="row hidden-print">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; 
            <a href=# target="_blank">Auditoría de iglesias</a> 2018.
            <span>
                Versión: <span id="version">{{version}}</span>
                <div id="messages"></div>
            </span>
        </p>

        
        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Creado por: <a
                href="https://www.micolevirtual.com">Grandes desarrolladores</a></p>
    </footer>

</div><!--/.fluid-container-->
