<div>
    <ul class="breadcrumb">
        <li class="li-breadcrumb">
            <a ui-sref="panel">{{ 'INICIO_MENU' | translate }}</a>
        </li>
        <li class="li-breadcrumb">
            <a ui-sref="panel.recomendaciones">Recomendaciones</a>
        </li>
        <li style="float: right;" class="refresh-breadcrumb">
            <a href="" ng-click="refresh()">
                <i class="glyphicon glyphicon-refresh"></i>
                {{ 'REFRESH' | translate }}</a>
        </li>
    </ul>
</div>

<recomendaciones-dir></recomendaciones-dir>