<!-- content starts -->
<div>
	<ul class="breadcrumb">
		<li class="li-breadcrumb">
			<a ui-sref="panel">{{ 'INICIO_MENU' | translate }}</a>
		</li>
		<li class="li-breadcrumb">
			<a ui-sref="panel.remesas">Remesas</a>
		</li>
		<li style="float: right;" class="refresh-breadcrumb">
			<a href="" ng-click="refresh()">
				<i class="glyphicon glyphicon-refresh"></i>
				{{ 'REFRESH' | translate }}</a>
		</li>
	</ul>
</div>

<div ngf-drop="uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*'" class="drop-box drop-box"
	ng-if="::USER.tipo!='Pastor' && USER.tipo!='Tesorero asociación'">
	
	<div class="row">
		
		<div class="col-lg-2 col-xs-12">
			<div ngf-select="uploadFiles($files, $invalidFiles)" ngf-multiple="true" 
				ngf-pattern="'.xlsx,.xls'" 
				ngf-accept="'.xlsx,.xls'" class="btn btn-success">
				
				<i class="fa fa-upload"></i>
				Subir remesas
				<!--  ngf-max-size="7MB"-->
			</div>
			<br>
		</div>     
		<div class="col-lg-2 col-xs-12">
			{{ log }}
			<div ng-show="estado_descarga=='insertando'">{{ porc }}/{{ total }}</div>
		</div>      
		<div class="col-lg-2 col-xs-12">
			<div class="progress" ng-show="total">
				<div class="progress-bar progress-bar-striped " ng-class="{active: estado_descarga=='insertando'}" role="progressbar" aria-valuenow="{{ porc }}" aria-valuemin="0" aria-valuemax="{{ total }}" style="width: {{ porcentajeInsertado() }}%">
					<span class="sr-only">{{ porc }}% Completado</span>
				</div>
			</div>
		</div>     
	</div>     
</div>



<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well">
				<h2><i class="glyphicon glyphicon-info-sign"></i> Remesas</h2>
			</div>
			<div class="box-content row">
 
				
				<div class="col-sm-12">

					<button class="btn btn-primary" ng-click="verCreando()" ng-show="!ver_crear">
						Crear remesa
					</button>


					<div class="row" ng-show="ver_crear" style="margin-bottom: 20px;">
						<div class="box col-md-12">
							<div class="box-inner">
								<div class="box-header well">
									<h2><i class="glyphicon glyphicon-plus"></i> Crear Remesa</h2>
								</div>
								<div class="box-content row">

									<div class="col-sm-12">

										<form ng-submit="insertarRemesa(rem_crear)">
											<table style="width: 100%;">

												<tr>
													<td style="width: 150px">Num diario</td>
													<td>
														<input class="form-control" required="required" type="text" placeholder="Num diario" ng-model="rem_crear.num_diario">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Línea</td>
													<td>
														<input class="form-control" type="text" placeholder="Línea" ng-model="rem_crear.linea">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Tipo diario</td>
													<td>
														<input class="form-control" type="text" placeholder="Tipo diario" ng-model="rem_crear.tipo_diario">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Num secuencia</td>
													<td>
														<input class="form-control" type="text" placeholder="Num secuencia" ng-model="rem_crear.num_secuencia">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Periodo</td>
													<td>
														<input class="form-control" required="required" type="text" placeholder="Periodo" ng-model="rem_crear.periodo">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Fecha</td>
													<td>
														<input class="form-control" type="text" placeholder="Fecha" ng-model="rem_crear.fecha">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Referencia</td>
													<td>
														<input class="form-control" type="text" placeholder="Referencia" ng-model="rem_crear.referencia">
													</td>
												</tr>


												<tr>
													<td style="width: 150px">Código cuenta</td>
													<td>
														<div style="margin-bottom: 5px;" class="form-group col-xs-12">
															<div class="row">
																
																<div class="btn-group">
																	<label class="btn btn-success" ng-model="rem_crear.cod_cuenta" uib-btn-radio="'611110'">
																		611110
																	</label>
																	<label class="btn btn-success" ng-model="rem_crear.cod_cuenta" uib-btn-radio="'634110'">
																		634110
																	</label>
																</div>
															</div>
														</div>
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Nombre cuenta</td>
													<td>
														<input class="form-control" type="text" placeholder="Nombre cuenta" ng-model="rem_crear.nombre_cuenta">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Descripción transacción</td>
													<td>
														<input class="form-control" type="text" placeholder="Descripción transacción" ng-model="rem_crear.descripcion_transaccion">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Cantidad</td>
													<td>
														<input class="form-control" type="text" placeholder="Cantidad" ng-model="rem_crear.cantidad">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">IVA</td>
													<td>
														<input class="form-control" type="text" placeholder="IVA" ng-model="rem_crear.iva">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Moneda</td>
													<td>
														<input class="form-control" type="text" placeholder="Moneda" ng-model="rem_crear.moneda">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Recurso</td>
													<td>
														<input class="form-control" type="text" placeholder="Recurso" ng-model="rem_crear.recurso">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Función</td>
													<td>
														<input class="form-control" required="required" type="text" placeholder="Función" ng-model="rem_crear.funcion">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Restr</td>
													<td>
														<input class="form-control" type="text" placeholder="Restr" ng-model="rem_crear.restr">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Org id</td>
													<td>
														<input class="form-control" required="required" type="text" placeholder="Org id" ng-model="rem_crear.org_id">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Empleados</td>
													<td>
														<input class="form-control" type="text" placeholder="Empleados" ng-model="rem_crear.empleados">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Concepto</td>
													<td>
														<input class="form-control" type="text" placeholder="Concepto" ng-model="rem_crear.concepto">
													</td>
												</tr>



											</table>

											<div style="text-align: center; margin-top: 15px;">
												<input class="btn btn-default" type="button" value="Cancelar" ng-click="CancelarNuevo()">
												<input class="btn btn-primary" type="submit" value="Guardar usuario" ng-disabled="creando">
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>







					<div class="row" ng-show="ver_edit_usu">
						<div class="box col-md-12">
							<div class="box-inner">
								<div class="box-header well">
									<h2><i class="glyphicon glyphicon-edit"></i> Modificar usuario</h2>
								</div>
								<div class="box-content row">

									<div class="col-sm-12">
										<form ng-submit="actUsers(user_editars)">

											<table style="width: 100%;">

												<tr>
													<td style="width: 150px">Nombre</td>
													<td>
														<input class="form-control" type="text" placeholder="Nombre" ng-model="user_editars.nombres">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Apellidos</td>
													<td>
														<input class="form-control" type="text" placeholder="Apellidos" ng-model="user_editars.apellidos">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Sexo</td>
													<td>
														<div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
															<div class="row">
																<div class="col-lg-6 col-sm-4 col-xs-12">
																	<div class="radio">
																		<label>
																			<img ng-src="{{avatar.masculino.img}}" class="img-gender">
																			<input type="radio" name="sexo" value="M" ng-model="user_editars.sexo"><span class="text">Masculino</span>
																		</label>
																	</div>
																</div>
																<div class="col-lg-6 col-sm-4 col-xs-12">
																	<div class="radio">
																		<label>
																			<img ng-src="{{avatar.femenino.img}}" class="img-gender">
																			<input type="radio" name="sexo" value="F" ng-model="user_editars.sexo"><span class="text">Femenino</span>
																		</label>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Email</td>
													<td>
														<input class="form-control" type="email" placeholder="Email" ng-model="user_editars.email">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Nombre de usuario</td>
													<td>
														<input class="form-control" type="text" placeholder="Nombre de usuario" ng-model="user_editars.username">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Contraseña</td>
													<td>
														<input class="form-control" type="password" placeholder="Contraseña" ng-model="user_editars.password">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Tipo de usuario</td>
													<td>
														<div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
															<div class="row">
																<div class="col-lg-6 col-sm-4 col-xs-12">
																	<div class="radio">
																		<label>
																			<input type="radio" name="tipo" value="Pastor" ng-model="user_editars.tipo"><span class="text">Pastor</span>
																		</label>
																	</div>
																</div>
																<div class="col-lg-6 col-sm-4 col-xs-12">
																	<div class="radio">
																		<label>
																			<input type="radio" name="tipo" value="Tesorero" ng-model="user_editars.tipo"><span class="text">Tesorero</span>
																		</label>
																	</div>
																</div>
																<div class="col-lg-6 col-sm-4 col-xs-12">
																	<div class="radio">
																		<label>
																			<input type="radio" name="tipo" value="Auditor" ng-model="user_editars.tipo"><span class="text">Auditor</span>
																		</label>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Fecha nacimiento</td>
													<td>
														<input class="form-control" type="date" placeholder="Fecha nacimiento" ng-model="user_editars.fecha">
													</td>
												</tr>

												<tr>
													<td style="width: 150px">Celular</td>
													<td>
														<input class="form-control" type="text" placeholder="Celular" ng-model="usuario_crear.celular">
													</td>
												</tr>




											</table>

											<div style="text-align: center; margin-top: 15px;">
												<input class="btn btn-default" type="button" value="Cancelar" ng-click="CancelarEdicion()">
												<input class="btn btn-primary" type="submit" value="Guardar cambios" ng-disabled="guardando_cambios">
											</div>


										</form>
									</div>
								</div>
							</div>


						</div>
					</div>
	
					<p>Mueva las columnas para mayor comodidad y oculte las que desee:</p>
					<div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-move-columns ui-grid-edit ui-grid-resize-columns
						ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 600px" class="grid">
					</div>
					
				</div>				
			</div>
		</div>
	</div>
</div>